
<configuration>
    <startup> 
        <supportedRuntime version = "v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<connectionStrings>
    <add connectionString = "Data Source=KANELLOV-PC\SQLEXPRESS;Initial Catalog=Project_Database;Integrated 
         Security=True;Connect Timeout = 30; Encrypt=False;TrustServerCertificate=False;
         ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
         name="DefaultConnectionString" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>